*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }  
body{
    font-family: 'Open Sans', sans-serif;
}
/* Classi comuni */
ul{
    list-style-type: none;
}
.button{
    border: none;
    background-color: rgb(1, 94, 233);
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 240px;
    padding: 10px 0;
}
/* Inizio HEADER */
header .container_header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

 }
.row_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 .col_header{
    padding: 20px;
 }
 .logo_header{
    vertical-align: middle;
 }
 .ul_header{
    display: inline-block;
    vertical-align: middle;
 }
 .li_header{
    display: inline-block;
    margin: 0 10px 0 30px;
    color: rgb(39, 39, 39);
}
.button.start{
    padding: 5px 0;
    width: 60px;
}
/* Fine HEADER */
/* Inizio MAIN */
.container_main{
    margin-top: 67px;
}
/* Inizio SECTION 1 */
.section_one{
    width: 100%;
    background-color: rgba(43, 121, 185, 0.397);
}
.container_section_one{
    width: 65%;
    margin: 0 auto;
    padding-top: 50px;
}
.title_sec_one{
    font-size: 90px;
}
.row_section_one{
    width: 100%;
    display: flex;
}
.col_section_one{
    margin-top: 50px;
}
.col_section_one.left{
    width: 30%;
}
.col_section_one.right{
    width: 70%;
    position: relative;
}
.button.jumbo{
    width: 180px;
    margin: 30px 0;
}
.jumbo_img{
    width: 100%;
    position: absolute;
}
.arrow_sec_one{
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
}
/* Fine SECTION 1 */
/* CLASSI COMUNI */
.container_section{
    width: 55%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
}
.row_section{
    display: flex;
    width: 100%; 
    justify-content: space-between;
}
.img_sec{
    width: 100%;
}
.title_h2{
    font-size: 45px;
}
/* Inizio SECTION 2 */
.checkbox{
    display: inline-block;
    margin: 50px 20px 40px 0;
}
.col_sec_two{
    width: calc(100% / 3 - 30px);
    border: 1px solid rgba(0, 0, 0, 0.301); 
}
.col_sec_two.margin{
    margin: 0 15px;
}
.payment_plan{
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}
.content_sec_two{
    width: 82%;
    line-height: 25px;   
    margin:0 auto;
    padding-bottom:40px ;
}
.payment_name, .li_info{
    margin-bottom: 15px;
}
.price{
    margin-bottom: 50px;
}
.mounth{
    color: rgb(145, 145, 145);
}
.flex_info{
    display: flex;
    align-items: baseline;
}
.info_user{
    margin-left: 5px;
}
.trial{
    margin-top:50px ;
    margin-bottom: 30px;
    text-align: center;
}
.hr_sec_two{
    width: 55px;
    margin: 30px 0 50px 0;
}
.point{
    margin-bottom: 30px;
}
/* Inizio colonna sotto section 2 */
.row_section.two_down{
    margin-top: 30px;
}
.col_sec_two_down{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin-top: 20px;
}
.col_sec_two_down_left{
    width: 67%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.col_sec_two_down_right{
    width: 30%;
    text-align: center;
}
/* FINE colonna sotto section 2 */
/* Inizio SECTION 3 */
.col_sec_three_left{
    width: 60%;
}
.col_sec_three_right{
    width: 40%;
}
.content_sec_three{
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}
.describtion_partner{
    margin: 15px 0 25px 0;
}
.button.partner{
    width: 150px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
/* Fine SECTION 3 */
/* Inizio SECTION 4 */
.row_section.col_6{
    flex-wrap: wrap;
    margin-top: 30px;
}
.col_sec_four{
    width: calc(100% / 3 - 20px); 
    margin-top: 50px; 
}
.title_business_pack{
    margin-bottom: 20px;
}
/* Fine SECTION 4 */
/* Inizio SECTION 5 */
.row_section_five{
    width: 70%;
    margin:0;
    margin-top: 200px;
}
.title_h2.sec_five{
    margin-bottom: 50px;
}
/* Fine SECTION 5 */
/* Inizio SECTION 6  CUBI DEL MARCHIO*/
.container_sec_six{
    max-width: 100vw;
}
.row_sec_six{
    display: flex;
    width: 100%;
}
.col_sec_six{
    width: calc(100% / 3);
}
.row_col_six{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.brand_cube{
    width: calc(100% / 2);
    position: relative;  
}
.img_sec_brand{
    width: 50%;
    filter:invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.col_sec_six.background{
    background-color: rgb(238, 238, 238);
}
.content_col_sec_six{
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 200px;
}
#w50{
    width: 50%;
}
#under_logo{
    width: 100px;
    margin: 50px 0;
    color:rgba(0, 0, 0, 0.301);
}
.author{
    margin-top: 50px;
}
/* Colori dei quadrati nella section 6 */
#designit{
   background-color: #A2D39B;
   border: 15px solid rgba(255, 253, 253, 0.342);
}
#arizona{
    background-color: #61082B;
}
#florida{
    background-color: #0093CE;
}
#topps{
    background-color: #FF1C1C;
}
#bicycle{
    background-color: #ce1717;
}
#hearst{
    background-color: #B4D0E7;
}
#lonely{
    background-color: #0D2481;
}
#clear{
    background-color:  #fdd31a;
}
/* Fine SECTION 6 */
/* Inizio SECTION 7 */
.section_seven{
    background-color: rgba(43, 121, 185, 0.397);
    padding: 10px 0 10px 0;
}
.col_sec_seven_left{
    width: 60%;
    color: rgb(107, 30, 30);
}
.col_sec_seven_right{
    width: 30%;
    padding: 15px;
    text-align: center;
}
.button.sec_seven{
    background-color: white;
    color: black;
}
/* Fine SECTION 7 */
/* Inizio SECTION 8 */
.row_section.direction{
    flex-direction: column;
    margin-top: 60px;
}
.col_questions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
}
.col_questions.up, .col_questions.middle{
    border-top: 1px solid rgba(0, 0, 0, 0.301);
}
.col_questions.down, .col_questions.middle{
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
}
.content_questions_left{
    width: 90%;
}
.content_questions_right{
    width: 10%;
    text-align: center;
}
/* Fine SECTION 8 */
/* FINE MAIN */