*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }  
body{
    font-family: 'Open Sans', sans-serif;
}
/* Classi comuni */
ul{
    list-style-type: none;
}
.button{
    border: none;
    background-color: rgb(1, 94, 233);
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 240px;
    padding: 10px 0;
}
/* Inizio HEADER */
header .container_header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

 }
.row_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 .col_header{
    padding: 20px;
 }
 .logo_header{
    vertical-align: middle;
 }
 .ul_header{
    display: inline-block;
    vertical-align: middle;
 }
 .li_header{
    display: inline-block;
    margin: 0 10px 0 30px;
    color: rgb(39, 39, 39);
}
.button.start{
    padding: 5px 0;
    width: 60px;
}
/* Fine HEADER */
/* Inizio MAIN */
.container_main{
    margin-top: 67px;
}
/* Inizio SECTION 1 */
.section_one{
    width: 100%;
    height: 750px;
    background-color: rgba(43, 121, 185, 0.397);
}
.container_section_one{
    width: 65%;
    margin: 0 auto;
    padding-top: 50px;
}
.title_sec_one{
    font-size: 90px;
}
.row_section_one{
    width: 100%;
    display: flex;
}
.col_section_one{
    margin-top: 50px;
}
.col_section_one.left{
    width: 30%;
}
.col_section_one.right{
    width: 70%;
}
.button.jumbo{
    width: 180px;
    margin: 30px 0;
}
.jumbo_img{
    width: 100%;
}
.arrow_sec_one{
    font-size: 50px;
    margin-top: 50px;
}
/* Fine SECTION 1 */
/* Container e row comuni */
.container_section{
    width: 55%;
    margin: 0 auto;
    margin-top: 100px;
}
.row_section{
    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: stretch;
}
/* Inizio SECTION 2 */
.title_h2{
    font-size: 45px;
}
.checkbox{
    display: inline-block;
    margin: 50px 20px 40px 0;

}
.col_sec_two{
    width: calc(100% / 3 - 30px);
    border: 1px solid rgba(0, 0, 0, 0.301); 
}
.col_sec_two.margin{
    margin: 0 15px;
}
.payment_plan{
    border-bottom: 1px solid rgba(0, 0, 0, 0.301);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
}
.content_sec_two{
    width: 82%;
    line-height: 25px;   
    margin:0 auto;
    padding-bottom:40px ;
}
.payment_name, .li_info{
    margin-bottom: 15px;
}
.price{
    margin-bottom: 50px;
}
.mounth{
    color: rgb(145, 145, 145);
}
.flex_info{
    display: flex;
    align-items: baseline;
}
.info_user{
    margin-left: 5px;
}
.trial{
    margin-top:50px ;
    margin-bottom: 30px;
    text-align: center;
}
.hr_sec_two{
    width: 55px;
    margin: 30px 0 50px 0;
}
.point{
    margin-bottom: 30px;
}
/* Inizio colonna sotto */
.row_section.two_down{
    margin-top: 30px;
}
.col_sec_two_down{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.301);
    margin-top: 20px;
}
.col_sec_two_down_left{
    width: 67%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.col_sec_two_down_right{
    width: 30%;
    text-align: center;
}
/* FINE colonna sotto */